.home {
  padding: 20px;
}

.event-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.navigation button {
  margin-right: 10px;
}
.event-list ul {
  list-style-type: none;
  padding: 0;
}
